@media (max-width: 768px) {
  #separator {
    width: 100% !important;
  }
  .resize {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

@media (max-height: 857px) {
  #footer {
    position: relative;
  }
}
